/* overlay.css */
#mindful-browsing-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2147483647; /* Maximum z-index */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
  }
  
  #mindful-browsing-overlay.full-opacity {
    pointer-events: auto;
  }
  